body {
  margin: 0;
  height: 100%;
  background-color: green;
  background-image: url("https://i.pinimg.com/736x/f8/cd/d5/f8cdd5f210f21e225922296389f46dd4.jpg");
  background-size: cover;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  height: 100%;
  width: 100%;
  background-image: url("https://i.pinimg.com/736x/f8/cd/d5/f8cdd5f210f21e225922296389f46dd4.jpg");
  background-size: cover; 
}

#logo{
  width: 104vh;
  margin: auto;
}

img.logo {
  width: 105vh;
  height: 19vh;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 2.5%;
  background-color: rgb(56, 80, 52, 0.7);

}

.navbar {
  margin-top: 15px;
  width: 100vh;
  height: 2vh;
  display: grid;
  margin-left: -4vh;
}

#link {
  background-image: url("https://www.clker.com/cliparts/8/A/u/x/E/t/football-helmet-blue-hi.png");
  margin-left: 40px;
  margin-bottom: 5vh;
  background-size: 12vh, 12vh;
  width: 12vh;
  height: 10vh;
  text-align: center;
  color: red;
  font-size: large;
}

#featuredPlayersList {
  background-color: rgb(56, 80, 52, 0.7);
  display: flex;
  width: 74vh;
  margin: auto;
  height: 40vh;
  margin-left: 41px;
  grid-column-gap: 10px;
  border: 20px black;
  overflow-y: hidden;
}

#featuredPlayerText {
  text-align: center;
}

#featuredPlayers {
  margin-top: 8vh;
  display: grid;
  width: 89vh;
  margin: auto;
}

#playerContainer {
  text-align: center;
}

  #playerTable {
    background-color: rgb(56, 80, 52, 0.7);
    display: grid;
    width: 66vw;
    height: 61vh;
    overflow: scroll;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 10px;
    border: 20px black;
    overflow-x: hidden;
    margin:auto;
    margin-top: 5vh;

  }

  #yourTeam {
    text-align: center;
  }

  #newTeamForm {
    width: 75vh;
    margin-left: 25vh;
  }

  #form {
    display: inline-flex;
    width: 95vh;
    margin-left: -6vh;
  }

  #teamList {
    background-color: rgb(56, 80, 52, 0.7);
    display: grid;
    width: 66vw;
    height: 33vh;
    overflow: scroll;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 10px;
    border: 20px black;
    overflow-x: hidden;
    /* margin-top: 5vh; */
  
  }

  #pickTeam {
    background-color: rgb(56, 80, 52, 0.7);
    display: grid;
    width: 66vw;
    height: 20vh;
    overflow: scroll;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 10px;
    border: 20px black;
    overflow-x: hidden;
    margin-top: 5vh;
  }

  #teamCard {
    display: inline-table;
    align-items: baseline;
    height: 5vh;
    margin-bottom: 3vh;
  }

  #teamId {
    margin-right: 7vh;
  }

  #teamImg {
    height: 3vh;
    margin-right: 13vh;
    margin-left: 4vh;
  }

  #teamName {
    width: 35vh;
  }

  #yourTeam {
    text-align: -webkit-center;
  }

#yourTeamList {
  background-color: rgb(56, 80, 52, 0.7);
  display: flex;
  height: 38vh;
  width: 103vh;
  overflow: scroll;
  margin-left: 41px;
  grid-column-gap: 10px;
  border: 20px black;
  overflow-y: hidden;
  margin: auto;
}

#thead {
  min-width: 775px;
  display: inline-table;
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: rgb(240, 248, 255, 0.7);
}

#img {
  width: 21vh;
  height: 149px;
  margin: 1px;
}

#playerCard {
  display: inline-table;
  text-align: initial;
  height: 33vh;
  /* width: 22vh; */
  background-color: whitesmoke;
  border-radius: 2px;
  margin-top: 10px;
  margin-bottom: 10px;
  place-items: center;
  box-shadow: 5px 10px;
  border: 1px solid rgb(59, 59, 59);
}
#greenArrow {
  color: rgb(9, 193, 9);
}
#btn {
  border: 1px solid rgb(224, 216, 216);
  margin: 1px;
}

#name {
margin: 1px;
font-size: 1.2em;
}

#nickname{
  margin-top: 0vh;
margin: 1px;
font-weight: 300;
}

#ppr {
  margin: 1px;
  font-size: 1.2em;
}

#rosterBtn {
  text-align: center;
  margin-top: 1vh;
}

.ui.card {
  width: 30vw;
  height: 50vh;
}

section {
  text-align: center;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size: medium;
  color: whitesmoke;
  padding-top: 15%;
}

input {
  width: 25%;
  padding: 11px 20px;
  margin: 15px 0;
}

#signin {
  margin-top: 8vh;
  display: grid;
  width: 89vh;
  margin: auto;
}